<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->
Inhalt von restaurant-list.html!
      <!-- <ul class="phones"> -- >
      <ul>
        <li ng-repeat="restaurant in restaurants" class="thumbnail">
          <a href="#/restaurants/{{restaurant.id}}">{{restaurant.name}}</a>
          <p>{{restaurant.snippet}}</p>
        </li>
      </ul>
-->
    </div>
  </div>
</div>

<!--
<h1>Ressstaurants</h1>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-- >

        <h1>Restaurants</h1>

        <ul class="restaurants">
        <li ng-repeat="restaurant in restaurants">
          <a href="#/restaurants/{{restaurant.id}}">{{restaurant.name}}</a>
          <p>{{restaurant.desc}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>




<!--

<h2>Liste der Restaurants:</h2>
                    <form name="restaurantListForm" class="form inline-form">

                      <ul>
                        <li ng-repeat="restaurant in restaurants track by $index">

                            <em>{{restaurant.name}}</em> in {{restaurant.city}}
                                <button class="btn btn-small"            ng-click="showOffers(restaurant)      ">Angebote  </button>
                                <button class="btn btn-small"            ng-click="editRestaurant(restaurant)  ">Bearbeiten</button>
                                <button class="btn btn-small btn-danger" ng-click="deleteRestaurant(restaurant)">Löschen   </button>


                        </li>
                      </ul>

                    <button ng-click="newRestaurant()"           >Neues Restaurant</button>
                    <button ng-click="createSampleRestaurants()" >Musterrestaurants</button>
                    <button ng-click="loadRestaurants()"         >Gespeicherte Restaurants</button>
                    </form>
-->
