<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->
<h2>Liste der Restaurants:</h2>
      <ul class="phones">
      <!--<ul>-->


        <form name="restaurantListForm" class="form inline-form">

            <ul>
                <li ng-repeat="restaurant in restaurants" class="thumbnail">

                   <a href="#/restaurants/{{restaurant.id}}">{{restaurant.id}}:<em>{{restaurant.name}}</em> in {{restaurant.city}}</a>

                  <button class="btn btn-small"            ng-click="showOffers(restaurant)      ">Angebote  </button>
                  <button class="btn btn-small"            ng-click="editRestaurant(restaurant)  ">Bearbeiten</button>
                  <button class="btn btn-small btn-danger" ng-click="deleteRestaurant(restaurant)">Löschen   </button>

                  <p>{{restaurant.desc}}</p>

                </li>
             </ul>
        </form>
      </ul>
    </div>
  </div>
</div>
