<div>
<form name="restaurantForm" class="form inline-form">

    <h3>Restaurant <em>{{restaurantId.name}}</em> in {{restaurantId.city}}</h3>
    {{restaurantId.desc}}

    <a href="#/restaurant/{{restaurant.id}}"><em>{{restaurant.name}}</em> in {{restaurant.city}}</a>

    <button ng-click="resetRestaurant()"             >Abbrechen</button>
    <button ng-click="saveRestaurant(restaurantId)">Speichern</button>
    <br />
    Angebote:<br />
    <ul>
      <li ng-repeat="offer in restaurantId.offers">
          {{offer.time}}: {{offer.desc}}
          <button class="btn btn-small"            ng-click="editOffer(offer)  ">Bearbeiten</button>
          <button class="btn btn-small btn-danger" ng-click="deleteOffer(offer)">Löschen   </button>
       </li>
     </ul>
     <button ng-click="newOffer(restaurantId)" >Neues Angebot</button>

</form>

<!-- ==== display offers if required ====== - ->
                    <span ng-show="mode == 'showOffers' ">

                        <h4>Angebote von {{currRestaurant.name}} in {{currRestaurant.city}} </h4>
                        <ul>
                          <li ng-repeat="offer in currRestaurant.offers">
                            {{offer.time}}: {{offer.desc}}
                          </li>
                        </ul>

                    </span>

                    <!-- ==== display offer form if required ====== - ->
                    <span ng-show="mode == 'editOffers'">

                      <h4>Angebote bearbeiten von {{currRestaurant.name}} in {{currRestaurant.city}} </h4>
                        <ul>
                          <li ng-repeat="offer in currRestaurant.offers">
                            {{offer.time}}: {{offer.desc}}
                            <button class="btn btn-small"            ng-click="editOffer(offer)  ">Bearbeiten</button>
                            <button class="btn btn-small btn-danger" ng-click="deleteOffer(offer)">Löschen   </button>
                          </li>
                        </ul>
                        <button ng-click="newOffer(currRestaurant)" >Neues Angebot</button>

                    </span>

                    <span ng-show="mode == 'createOffer' || mode == 'editOffer'">
                      <form name="offerForm" class="form inline-form">
                          Wann: <select ng-model="time">
                                  <option value="morgens"> morgens</option>
                                  <option value="mittags"> mittags</option>
                                  <option value="abends">  abends</option>
                                  <option value="ganztags">ganztags</option>
                                </select>
                        Desc:  <textarea          ng-model="offer.desc" ng-required="true"></textarea><br />
                        <button ng-click="resetOffer()"    >Abbrechen</button>
                        <button ng-click="saveOffer(offer)">Speichern </button>
                      </form>

Name:            <input type="text" ng-model="restaurantId.name" ng-required="true"/>
    Stadt:           <input type="text" ng-model="restaurantId.city" ng-required="true"/><br />
    Beschreibung:    <textarea          ng-model="restaurantId.desc" ng-required="true"></textarea><br />

                    </span>
-->
</div>
