<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mittagsangebot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/prism/prism.css">
    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/demo.css">
    <link rel="stylesheet" href="assets/angebote.css">
  </head>
  <body ng-app="angebote">
    <div class="container" ng-controller="main">
      <div class="hero-unit">
        <h1>Mittagsangebot</h1>
        <p>Erste Versuche ...</p>

        <tabset>

            <tab heading="Restaurant">
                <span ng-controller="FormDemoCtrl">

                    <br />______ Status: _____<br/ >
                    Mode: {{mode}}, currRestaurant: {{currRestaurant.name}}, currOffer: {{offer.name}}<br />
                    <h2>Liste der Restaurants:</h2>
                    <ul>
                        <li ng-repeat="restaurant in restaurants">
                            <em>{{restaurant.name}}</em> in {{restaurant.city}}
                            <button class="btn btn-small"            ng-click="showOffers(restaurant)      ">Angebote  </button>
                            <button class="btn btn-small"            ng-click="editRestaurant(restaurant)  ">Bearbeiten</button>
                            <button class="btn btn-small btn-danger" ng-click="deleteRestaurant(restaurant)">Löschen   </button>
                        </li>
                    </ul>
                    <button ng-click="newRestaurant()" >Neues Restaurant</button>
                    <button ng-click="createSampleRestaurants()" >Musterrestaurants</button>
                    <button ng-click="loadRestaurants()" >Gespeicherte Restaurants</button>


                    <span ng-show="mode == 'createRestaurant' || mode == 'editRestaurant'">

                      <form name="restaurantForm" class="form inline-form">

                        <h3>Restaurant:</h3>
                        Name:            <input type="text" ng-model="restaurant.name" ng-required="true"/>
                        Stadt:           <input type="text" ng-model="restaurant.city" ng-required="true"/><br />
                        Beschreibung:    <textarea          ng-model="restaurant.desc" ng-required="true"></textarea><br />
                        <button ng-click="resetRestaurant()"         >Abbrechen</button>
                        <button ng-click="saveRestaurant(restaurant)">Speichern</button>
                        <br />
                        Angebote:<br />
                        <ul>
                          <li ng-repeat="offer in restaurant.offers">
                            {{offer.desc}}
                            <button class="btn btn-small"            ng-click="editOffer(offer)  ">Bearbeiten</button>
                            <button class="btn btn-small btn-danger" ng-click="deleteOffer(offer)">Löschen   </button>
                          </li>
                        </ul>
                        <button ng-click="newOffer(restaurant)" >Neues Angebot</button>

                      </form>
                    </span>

                    <span ng-show="mode == 'showOffers' || mode == 'editOffers'">

                      <form name="restaurantForm" class="form inline-form">

                        <h4>Angebote von {{currRestaurant.name}} in {{currRestaurant.city}} </h4>
                        <ul>
                          <li ng-repeat="offer in currRestaurant.offers">
                            {{offer.desc}}
                            <button class="btn btn-small"            ng-click="editOffer(offer)  ">Bearbeiten</button>
                            <button class="btn btn-small btn-danger" ng-click="deleteOffer(offer)">Löschen   </button>
                          </li>
                        </ul>
                        <button ng-click="newOffer(currRestaurant)" >Neues Angebot</button>

                      </form>
                    </span>

                    <span ng-show="mode == 'createOffer' || mode == 'editOffer'">
                      <form name="offerForm" class="form inline-form">
                        <!--Start: <input type="time" ng-model="offer.start" ng-required="true"/><br />-->
                        <!--End:   <input type="time" ng-model="offer.end"   ng-required="true" /><br />-->
                        Desc:  <textarea          ng-model="offer.desc"  ng-required="true"></textarea><br />
                        <button ng-click="resetOffer()"      >Abbrechen</button>
                        <button ng-click="saveOffer(offer)">Speichern </button>
                      </form>

                    </span>

                </span>
            </tab>

            <tab heading="Angebote(alt)">
                <span>
                    Show/Hide-Bsp - Click me: <input type="checkbox" ng-model="checked"><br/>
                Show: <span ng-show="checked">I show up when your checkbox is checked.</span> <br/>
                Hide: <span ng-hide="checked">I hide when your checkbox is checked.</span>
                </span>
                <span ng-controller="FormDemoCtrl">
                    <form name="offerForm" class="form inline-form">
                        Start: <input type="time" ng-model="offer.start" ng-required="true"/><br />
                        End:   <input type="time" ng-model="offer.end"   ng-required="true" /><br />
                        Desc:  <textarea          ng-model="offer.desc"  ng-required="true"></textarea><br />
                        <button ng-click="reset()"      >RESET</button>
                        <button ng-click="update(offer)">SAVE </button>
                        <button ng-click="add(offer)"   >NEW  </button>
                    </form>
                    <ul>
                        <li ng-repeat="offer in offers">
                            {{offer.desc}}
                            <button class="btn btn-small"            ng-click="editOffer(offer)"  >EDIT  </button>
                            <button class="btn btn-small btn-danger" ng-click="deleteOffer(offer)">DELETE</button>
                        </li>
                    </ul>
                </span>
            </tab>

            <tab>
              <tab-heading><i class="icon-bell"></i>Restaurant mit Angeboten</tab-heading>

                <button ng-click="createRestaurantWithOffer()" >Daten initialisieren</button>

                <ul>
                <li ng-repeat="item in restaurants">
                    Name: {{item.name}} in {{item.city}} <br />
                    <!--Angebote:  {{item.offers[0].desc}}, {{item.offers[0].time}}-->
                </li>
                </ul>



            </tab>
            <tab>
              <tab-heading><i class="icon-bell"></i>Angebotsliste</tab-heading>

                <a ng-click="addToList()">neues Angebot</a>

                <ul>
                <li ng-repeat="item in angebote">
                <span ng-click="showSelected(item)"   ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Angebot {{item}}</span>
                <!--<span ng-click="removeFromList(item)" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Angebot {{item}}</span>-->
                <button class="btn btn-small btn-danger" ng-click="removeFromList(item)">Löschen</button>
                </li>
                </ul>


            </tab>

            <tab heading="Toggle Beispiel">
                <span ng-click="toggleActive()">
                <p>was los?</p>
                <h1 ng-show="active == true">bin aktiv</h1>
                <h1 ng-hide="active == true">bin nicht aktiv</h1>
                </span>

                <button class="btn btn-small btn-danger" ng-click="alertMe()">Alert</button>
            </tab>




            <tab heading="Datumsbeispiel" ng-controller="DatepickerDemoCtrl">
              <div ng-click="">
              <!-- <div ng-controller="DatepickerDemoCtrl">-->
                <pre>Ausgewähltes Datum: <em>{{dt | date:'fullDate' }}</em></pre>

                <div class="well well-small pull-left" ng-model="dt">
                <datepicker min="minDate" show-weeks="showWeeks" is-open="closed"></datepicker>
                </div>

                <div class="form-horizontal">
                    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                    <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                </div>

                <hr />
                <button class="btn btn-small btn-inverse" ng-click="today()">Heute</button>
                <button class="btn btn-small btn-inverse" ng-click="dt = '2009-08-24'">2009-08-24</button>
                <button class="btn btn-small btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
                <button class="btn btn-small btn-danger" ng-click="clear()">Clear</button>
                <button class="btn btn-small" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
              </div>

            </tab>




            <tab heading="hoodie todos">
                <div>

                    <a ng-click="updateTodos()">update the todo list from server</a>

                    <p ng-repeat="todo in todos">{{todo.title}}</p>

                </div>
            </tab>
  </tabset>



        <div class="hoodie-accountbar">

          <div class="hoodie-account-signedout">
            <span class="btn-group">
              <button class="btn btn-small btn-inverse" data-hoodie-action="signup">Sign Up</button>
              <button class="btn btn-small dropdown-toggle btn-inverse" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#" data-hoodie-action="signin">Sign In</a></li>
                <li><a href="#" data-hoodie-action="resetpassword">Reset Password</a></li>
                <li><a href="#" data-hoodie-action="destroy">Clear local data</a></li>
              </ul>
            </span>
          </div><!-- /.hoodie-account-signedout -->

          <div class="hoodie-account-signedin">
            Hello,
            <span class="hoodie-username"><!-- usern name will be filled in here --></span>
            <span class="btn-group">
              <button class="btn btn-small btn-inverse" data-hoodie-action="signout">Sign Out</button>
              <button class="btn btn-small dropdown-toggle btn-inverse" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#" data-hoodie-action="changepassword">Change Password</a></li>
                <li><a href="#" data-hoodie-action="changeusername">Change Username</a></li>
                <li><a href="#" data-hoodie-action="destroy">Destroy Account</a></li>
              </ul>
            </span>
          </div><!-- /.hoodie-account-signedin -->

          <div class="hoodie-account-error">
            Hello,
            <span class="hoodie-username"><!-- usern name will be filled in here --></span>.
            <span class="btn-group">
              <button class="btn btn-small btn-danger" data-hoodie-action="signin">Authentication error: Sign in again</button>
              <button class="btn btn-small dropdown-toggle btn-danger" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#" data-hoodie-action="signout">Sign out</a></li>
              </ul>
            </span>
          </div><!-- /.hoodie-account-error -->
        </div><!--/hoodieAccountBar -->
      </div>


      <footer class="copy">
        <p>&hearts; hood.ie 2013</p>
      </footer>
    </div> <!-- /.container -->

    <script src="assets/vendor/jquery-1.9.1.js"></script>
    <script src="assets/vendor/angular.min.js"></script>
    <script src="assets/vendor/angular-animate.min.js"></script>
    <script src="assets/vendor/ui-bootstrap.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="assets/vendor/prism/prism.js"></script>
    <script src="assets/vendor/hoodie.js"></script>
    <script src="assets/vendor/hoodie.accountbar.bootstrap.js"></script>
    <script src="assets/vendor/bootstrap.modalform.js"></script>
    <script src="assets/vendor/angular.ui.bootstrap.datepicker.js"></script>
    <script src="assets/main.js"></script>
    <script src="assets/demo.js"></script>
    <script src="assets/angebote.js"></script>
      <script src="assets/datepickerCtlr.js"></script>
  </body>
</html>
